[submodule "Libraries/cFilesystem"]
	path = Libraries/cFilesystem
	url = https://github.com/NilsSve/Library-cFilesystem.git
	branch = main
[submodule "Libraries/DFAbout"]
	path = Libraries/DFAbout
	url = https://github.com/NilsSve/Library-DFAbout.git
	branch = main
[submodule "Libraries/DFUnit"]
	path = Libraries/DFUnit
	url = https://github.com/NilsSve/Library-DFUnit.git
	branch = release
[submodule "Libraries/DUF"]
	path = Libraries/DUF
	url = https://github.com/NilsSve/DbUpdateFramework.git
	branch = main
[submodule "Libraries/RDCToolsLib"]
	path = Libraries/RDCToolsLib
	url = https://github.com/NilsSve/Library-RDCToolsLib.git
	branch = main
[submodule "Libraries/SciControlLib"]
	path = Libraries/SciControlLib
	url = https://github.com/NilsSve/Library-SciControlLib.git
	branch = main
[submodule "Libraries/vwin32fh"]
	path = Libraries/vwin32fh
	url = https://github.com/NilsSve/Library-vwin32fh.git
	branch = master
