[submodule "Libraries/cFilesystem"]
	path = Libraries/cFilesystem
	url = https://github.com/NilsSve/Library-cFilesystem
	branch = develop
[submodule "Libraries/DFUnit"]
	path = Libraries/DFUnit
	url = https://github.com/NilsSve/Library-DFUnit.git
	branch = release
[submodule "Libraries/DUF"]
	path = Libraries/DUF
	url = https://github.com/NilsSve/DbUpdateFramework.git
	branch = main
[submodule "Libraries/SciControlLib"]
	path = Libraries/SciControlLib
	url = https://github.com/NilsSve/Library-SciControlLib.git
	branch = main
