# Define the workspace as a DataFlex language project:
*.src linguist-language=DataFlex
*.pkg linguist-language=DataFlex
*.vw linguist-language=DataFlex
*.dg linguist-language=DataFlex
*.sl linguist-language=DataFlex
*.bp linguist-language=DataFlex
