# Files to be ignored by git in a DataFlex workspace

# AppHtml
**/apphtml/global.asa

# AppSrc
**/appsrc/**/*.prn
**/appsrc/**/*.dep
**/appsrc/**/*.dbg
**/appsrc/**/*.exe.manifest
**/appsrc/**/*.err
**/appsrc/**/*.fld
**/appsrc/**/*.pbg
**/appsrc/**/*.pdp
**/appsrc/**/*.pkd
**/appsrc/**/*.prn
**/appsrc/**/*.prp
loginEncryptionkey.inc

# Data
**/data/**/*.log
**/data/**/*.dat
**/data/**/*.vld
**/data/**/*.k*
**/data/**/*.bad
**/data/**/*.hdr
**/data/**/*.cch

# DDSrc
**/ddsrc/**/*.def

# IdeSrc
**/idesrc/*.dsk
**/idesrc/*.loc
**/idesrc/*.mtd

# Programs
**/programs/*.dbg
**/programs/*.exe
**/programs/*.exe.manifest
**/programs/*.log

# Workspace specific
**/appSrc/**/RefactoredCode.pkg
**/appSrc/**/LegacyCode.pkg
**/appsrc/importbackup/*.*
**/help/**/*.hnd
**/help/assets/*.*
**/help/online help/*.*
**/test_results.xml
**/install/*.*
**/capture/**/*.*
**/dfrefactor backup/**/*.*
**/*.mp4
**/dfrefactor_help.zip
