[submodule "Libraries/cFilesystem"]
	path = Libraries/cFilesystem
	url = https://github.com/NilsSve/Library-cFilesystem
	branch = main
[submodule "Libraries/DFAbout"]
	path = Libraries/DFAbout
	url = https://github.com/NilsSve/Library-DFAbout.git
	branch = main
[submodule "Libraries/DFUnit"]
	path = Libraries/DFUnit
	url = https://github.com/NilsSve/Library-DFUnit
	branch = release
[submodule "Libraries/DUF"]
	path = Libraries/DUF
	url = https://github.com/NilsSve/DbUpdateFramework.git
	branch = main
